/* header */

body header{
    padding-bottom: 8px; /* margen interno inferior del header */
    background-color: var(--color-amarillo); /* color de fondo del header */
}

/* logo */

body header img{
    width: 150px; /* ancho de la imagen del logo */
    padding: 15px 0 0 15px; /* margen interno izquierdo y superior */
}

/* barra de búsqueda */

body header form{
    font-size: 12px; /* tamaño del texto que va dentro de la barra de búsqueda */
    padding: 10px 15px; /* margenes internos superior, laterales e inferior */
}

/* frase "compra en cuotas" */

.compra{
    font-size: 12px; /* tamaño del la frase "compra" */
    text-align: center; /* alinea el texto en el centro */
    padding-bottom: 10px; /* margen interno inferior */
}

/* categorías/usuario */

li{
    list-style: none; /* quita decoración de la lista */
}

ul{
    font-size: 12px; /* tamaño de la tipografía de las listas */
    padding: 10px; /* margen interno superior e inferior */
}

/* burger */

.burger-menu{
    margin:15px auto 15px; /* margen externo superior, laterales e inferior */
    color: var(--color-Grisclaro); /* color del ícono */
    background-color: var(--color-Celeste); /* color del fondo del ícono */
    display: flex; /* hace flexible a la "caja" */
    justify-content: center; /* centra al ícono verticalmente */
    align-items: center;  /* centra al ícono horizontalmente */
    width: 35px; /* ancho */
    height: 35px; /* altura */
    border-radius: 4px; /* redondeo de las esquinas de la caja del ícono */
    font-size: 18px; /* tamaño del ícono */
}

/* main */

main{
    background-color: var(--color-Grisclaro); /* color de fondo del main */
    padding-bottom: 5px; /* margen interno inferior */
    margin-left: auto; /* margen izquierdo automático */
    margin-right: auto; /* margen derecho automático */
    text-align: center; /* alinea al texto en el centro */
    width: 90vw; /* ancho del main relacionado con el viewport */
}

/* titulares */

main h3{
    font-family: 'Roboto', sans-serif; /* tipografía */
    font-size: 24px; /* tamaño de la tipografía */
    text-align: left; /* alineación del texto a la izquierda */
    color: var(--color-Grisoscuro); /* color de la tipografía */
}

/* article */

main article{
    margin-bottom: 10px; /* margen inferior */
}

/* texto debajo de fotos */


section article div{
    width: 90vw; /* ancho del viewport */
    background-color: white; /* color de fondo del texto que acompaña a los productos */
    padding: 15px; /* margen interno */
    border-top: solid 1px var(--color-Grisclaro); /* borde superior de la caja que aloja el texto que acompaña a los productos */
    text-align: left; /* alinea al texto a la izquierda */
}

/* ícono camión */

article .fa-truck{
    color: var(--color-Verde); /* color del ícono */
    border: 1px solid var(--color-Verde); /* peso, tipo y color del borde */
    width: min-content; /* la medida se ajusta al tamaño del ícono */
    font-size: 1rem; /* tamaño del ícono */
    border-radius: 50%; /* porcentaje para el redondeo del borde */
    text-align: center; /* centrado del ícono */
    padding: .5em; /* margen interno desde el borde hasta el ícono */
}
/* precio */

article .precio{
    font-size: 18px; /* tamaño de la tipografía */
    margin: 0; /* margenes externos */
}

/* descuento */

article .descuento{
    color: var(--color-Verde); /* color de la tipografía */
    font-size: 16px; /* tamaño de la tipografía */
    margin: 0; /* margenes externos */
}

/* descripción */

article .descripcion{
    font-size: 16px; /* tamaño de la tipografía */
    color: var(--color-Grisoscuro); /* color de la tipografía */
}

/* footer */

footer{
    background-color: white; /* color de fondo del footer */
    color: var(--color-Grisoscuro); /* color del texto del footer */
}

footer section article{
    text-align: center; /* alinea en el centro el texto */
}

/* íconos del footer */

footer i{
    font-size: 2em; /* tamaño de los íconos */
    margin-top: 60px; /* margen externo superior */
    margin-bottom: 10px; /* margen externo inferior */
    color: var(--color-Celeste); /* color de loa íconos */
}

/* texto del footer */

footer section article p, footer section article h3{
    padding: 0 35px; /* margenes internos laterales */
}

footer section article h3{
    font-size: 16px; /* tamaño de los titulares del footer */
}

footer section article {
    font-size: 12px; /* tamaño de los cuerpos de texto del footer */
}

/* copyright */

.copyright{
    padding: 0 0 20px 15px; /* margenes internos derecho e inferior del copyright */
    margin-top: 40px; /* margen externo superior del copyright */
    font-size: 12px; /* tamaño de la tipografìa del copyright */
    margin-bottom: 0px; 
}

@media (max-width: 360px){ /* hasta los 360px */

    article .descripcion{
        display: none; /* oculta la descripción de los artículos */
    }

/* barra de navegación */

    .nav-mobile{
        display: none; /* oculta la barra de navegación */
    }
}

@media (min-width: 361px) { /* desde los 361px */

    .burger-menu{
        display: none; /* oculta el menú hamburguesa */
    }

    main article{
        box-shadow: 0 0 10px rgb(100, 100, 100); /* sobra de los articles */
    }
}